html,body {
    padding: 0;
    margin: 0;
    background-color: whitesmoke;
    height: 100%;
    
}

/* @keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */

#root {
    height: 100%;
}

.card {
  background-color: red;
}


.example-enter {
  opacity: 0;
}
.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.example-exit {
  opacity: 1;
}
.example-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}


/* @keyframes something {
  100% { transform: translateX(0%); }
}

.card {
  animation: something 1s;
} */

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    /* background: #f1f1f1;  */
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }